<style>
    .navbar .sidenav {
    font-size: 2.5rem;
}
</style>

<nav class="navbar">
    <div class="class nav-wrapper container">
        <a href="#!" class="brand-logo center"> Sıhhat </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <div class="header">
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Medical Histories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/chewgum">Chew Gum</a></li>
            <li> <a href="/drinkwater">Drink Water</a> </li>
            <li> <a href="/esspri">ESSPRI Scale</a> </li>
            <li> <a href="/esspriscale">ESSPRI Scale Results</a> </li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
        </div>
    </div>
</nav>