<h1>Take Care of Your Mouth</h1>
<div class="main">  
    <div class="gfg"> Drink fluids throughout the day to keep your mouth moist. Keep water by your bedside at night. But be aware that drinking large amounts of water does not reduce mouth dryness and causes excessive urination during the night. Try drinking small sips of water and rinsing your mouth frequently. Sucking on ice chips can also help. <br>
                      Use artificial saliva substitutes (mouthwash or spray), which coat the mouth. <br>
                      Avoid medicines that are known to cause dry mouth, such as antihistamines, diuretics, and some antidepressants. Talk with your doctor if you take any of these medicines. Sometimes the benefits of a medicine outweigh the risks. <br>
                      Brush your teeth twice a day and after meals with fluoride toothpaste, and floss your teeth every day. <br>
                      Make frequent visits to the dentist to prevent and treat tooth decay. <br>
                      Use antifungal medicines to treat thrush, a yeast infection that develops in the mouth. <br>
                      Use sugar-free gum or candies such as lemon drops that naturally stimulate saliva production. (Sugar can increase your risk for cavities and yeast infections.) <br>
                      Sjögren's syndrome causes dry mouth, which in turn can make it hard to swallow pills. In some cases, your pharmacist can crush the pills and put each dose in a capsule. Then you can mix the contents of the capsule with a teaspoonful of jam, jelly, or gelatin for easier swallowing. Be sure to take all the food in order to get the full dose of medicine. <br>
    </div>

    <div id="cup">
      <h2>drink some water</h2>
    </div>
</div>
