   
        <h3 class="h3"><i class="fa-solid fa-pills"></i> Sıhhat</h3>
        <div class="section">
            <p class="lead">Welcome to Sıhhat</p>
            <div class="divider"></div>
            <p class="lead">Let's start. Lorem, ipsum dolor sit amet conse. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nam quibusdam nesciunt qui nihil enim obcaecati dicta </p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="/auth/google" class="btn lime darken-1">
               <i class="fab fa-google left"></i> Log In With Google
            </a>
        </div>
  
