   
        <h3 class="h3"><i class="fa-solid fa-pills"></i> Sıhhat</h3>
        <div class="section" >
            <div class="divider"></div>
            <p class="lead">This application is intended for individuals with Sjogren's syndrome. Carefully read the instructions, and answer the questions clearly. </p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="/auth/google" class="btn lime darken-1">
               <i class="fab fa-google left"></i> Log In With Google
            </a>
        </div>
   
