<script src="https://kit.fontawesome.com/e817ca24d7.js" crossorigin="anonymous"></script>
<style>
    body{
        background-color: rgb(39, 38, 38);
    }
</style>
    <h3 class="h3"><i class="fa-solid fa-pills"></i class="#f3e5f5 purple lighten-5"> Sıhhat</h3>
    <div class="section">
        <p class="lead">Welcome to the Sıhhat</p>
        <p class="lead">Let's start</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn lime darken-1">
           <i class="fab fa-google left"></i> Log In With Google
        </a>
    </div>
