   
        <h3 class="h3"><i class="fa-solid fa-pills"></i> Sıhhat</h3>
        <div class="section" >
            <div class="divider"></div>
            <p class="lead">This application is intended for the use of individuals with Sjogren's syndrome. Its interface is very simple and understandable. Please carefully read the information shared with you and answer the questions clearly. </p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="/auth/google" class="btn lime darken-1">
               <i class="fab fa-google left"></i> Log In With Google
            </a>
        </div>
   
