p{
    margin: 10px 0 !important;
    font-weight: bolder;
    color: white;
}
.h3{
    color: rgb(59, 125, 5);
}

.login-container{
    width: 400px;
    margin-top: 150px;
    text-align: center;
}
.card{
    background-color: rgba(180, 255, 59, 0.97);
    border-radius: 20px;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float{
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}
.a-plus {
    color: red;
}
.center{
    color: aqua;
}
.fa-plus{
    color: green;
}
.navbar{
    background-color: rgba(180, 255, 59, 0.97);
}
