<h4>Add Your Health History</h4>
<div class="row">
    <form action="/medicalhistories" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="medicine" name="medicine">
                <label for="medicine">What medicine did you use today?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="number" name="number">
                <label for="number">How many did you take?</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="shared" >Share</option>
                    <option value="unshared" selected>Do not share</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5 class="grey-text">Would you like to share more details? (Tell us how Sjogren’s syndrome is affecting you, symptoms, effects on anxiety or depression, or how you are managing living with Sjogren’s. Please do not recommend any medication.)</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn save"> 
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>